{{define "navbar"}}
<head>
  <link rel="stylesheet" href="/static/css/navbar.css"> <!-- Link to external CSS file -->
</head>
<div class="navbar">
  <a href="/">Home</a>
  <a href="/secret/web/create">Create Secrets</a>
  <a href="/secret/web/list">Secrets List</a>
  <a href="/auth/web/register">Registration</a>
  <a href="/auth/web/login">Login</a>
</div>
{{end}}
