{{define "auth.login.form"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - SecretCLI</title>
  <script src="/static/js/login.js" defer></script>
</head>
<body>
  <h1>Login</h1>
  
  <form action="/auth/web/login-submit" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div>
      <input type="submit" value="Login">
    </div>
  </form>

  {{if .Error}}
  <div style="color: red;">
    <p>Error: {{.Error}}</p>
  </div>
  {{end}}

  <p>Don't have an account? <a href="/auth/web/register">Register here</a>.</p>
</body>
</html>
{{end}}
